<ion-view view-title="Users Manager">
  <ion-content>

    <a href="#/tab/crear">
      <button class="button button-block">
        Crear
      </button>
    </a>
   
    <a href="#/tab/borrar">
      <button class="button button-block">
        Borrar
      </button>
    </a>
        
    <a href="#/tab/actualizar">
      <button class="button button-block">
        Actualizar
      </button>
    </a>
        
    <a href="#/tab/leer">
      <button class="button button-block">
        Leer
      </button>
    </a>


  </ion-content>
</ion-view>
