<ion-view view-title="Read">
  <ion-content>   


    <label class="item item-input">
      <span class="input-label" name="email">Email</span>
      <input type="email" ng-model="datos.email" >
    </label>

    <button class="button button-block" ng-click="read()">
      Read
    </button>
    <div ng-controller="contactsCtrl"> 
      <!--<ul>
        <li ng-repeat="x in names">
          {{ x.Email + ', ' + x.Password + ', ' + x.Sexo + ', ' + x.Edad + ', ' + x.Fecha }}
        </li>
      </ul>-->
    </div>

  </ion-content>
</ion-view>
