 <ion-view view-title="Read">
  <ion-content>   


    <label class="item item-input">
      <span class="input-label" name="email">Email</span>
      <input type="email" ng-model="datos.email" >
    </label>

    <button class="button button-block" ng-click="read()">
      Read
    </button>

    
    <!--PHP-->
    <div ng-controller="contactsCtrl"> 
      <label class="item item-input">
        <span class="input-label" name="usuario">Usuario</span>
        <input type="text" ng-model="contact.user" >
      </label>    
      <label class="item item-input">
        <span class="input-label" name="contra">Contraseña</span>
        <input type="text" ng-model="contact.pass" >
      </label>    

      <button class="button button-block" ng-click="contacts()">
        Post in server
      </button>
      <show-server> </show-server>
      <div id="read-server">
        </div>
    </div>
  </ion-content>
</ion-view>
