<ion-view view-title="Users Manager">
  <ion-content>

    <a href="#/tab/crear" class="tabLink">
      <button class="button button-block button-positive">
        Crear
      </button>
    </a>
   
    <a href="#/tab/borrar" class="tabLink">
      <button class="button button-block button-positive">
        Borrar
      </button>
    </a>
        
    <a href="#/tab/actualizar" class="tabLink">
      <button class="button button-block button-positive">
        Actualizar
      </button>
    </a>
        
    <a href="#/tab/leer" class="tabLink">
      <button class="button button-block button-positive">
        Leer
      </button>
    </a>


  </ion-content>
</ion-view>
