/* Empty. Add your own CSS if you like */

p.online
{
	color: green;
}
p.offline
{
	color: red;
}

label.item-input
{
	width: 80%;
	margin: 3% 10%;
}
button.button-block
{
	background-color: #04B4AE;
	color: snow;
	width: 40%;
	margin: 0% 30%;
}
label.chico
{
	width: 50%;
}

a
{
	text-decoration: none;
}
a.master 
{
	color: silver;
}
.back-padding
{
	padding:50px;
}
div .bar-header, .tab-nav{
	background-color:#2E2E2E;
	color: #E6E6E6;
}
i.icon, span.tab-title {
	color:#E6E6E6;
}
div.item.item-divider{
	background-color: #04B4AE;
}