/* Empty. Add your own CSS if you like */
p.online
{
	color: green;
}
p.offline
{
	color: red;
}

label.item-input
{
	width: 80%;
	margin: 3% 10%;
}
button.button
{
	width: 40%;
	margin: 0% 30%;
}
label.chico
{
	width: 50%;
}

a
{
	text-decoration: none;
}
a.master 
{
	color: silver;
}